<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- SCRIPTS -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/jquery.zlight.menu.1.0.min.js"></script>

    <!-- STYLES -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/css/font-awesome.min.css" media="screen">
    <link rel="stylesheet" href="/css/style.css" media="screen">
    <link rel="stylesheet" href="/css/zlight.menu.css" media="screen">

    <title>MainPage</title>
    <script>
		$(document).ready(function(){
			$('#zlight-nav').zlightMenu();
			var html;
			$.ajax({
			    url: "user/selectUserList",
                async:false,
                success:function(data){
			             for(var index in data){
			                var sex = data[index].userEnder == 1?"男":"女";
                            var type = data[index].userType == 1 ? "管理员":"粉丝";
                               html += "<tr>"
                                            +"<td>" + data[index].id+ "</td>"
                                            +"<td>" + data[index].userName+ "</td>"
                                            +"<td>" + data[index].userAccount+ "</td>"
                                            +"<td>" + data[index].userPhone+ "</td>"
                                            +"<td>" + sex+ "</td>"
                                            +"<td>" + data[index].userAddress+ "</td>"
                                            +"<td>" + data[index].userQq+ "</td>"
                                            +"<td>" + data[index].userEmail+ "</td>"
                                            +"<td>" + type+ "</td>"
                                            +"<td> <button class ='btn btn-default del' data-id="+data[index].id+"> 删除 </button>  <button  class = 'btn btn-default update' data-id="+data[index].id+">更改</button> </td>"
                                        "</tr>";
                        }
                        $(".table").append(html);
			    }
			})
            //删除
            $(".del").click(function(){
                $.ajax({
                    url : "user/deleteUser?id="+$(this).attr("data-id"),
                    success : function(data){
                        alert(data);
                        window.location.reload();
                    }
                })
            })
            //更改
            $(".update").click(function(){
                $("table").css("display","none");
                $("form").css("display","block");
                $.ajax({
                    url : "user/selectUser?id="+$(this).attr("data-id"),
                    dataType: "json",
                    success: function(data){
                        $("#userName").val(data.userName);
                        $("#userAccount").val(data.userAccount);
                        $("#userPhone").val(data.userPhone);
                        $("#userAddress").val(data.userAddress);
                        $("#userQq").val(data.userQq);
                        $("#userEmail").val(data.userEmail);
                        $("#userId").val(data.id);
                        $(" select option[value='"+data.userType+"']").attr("selected","selected");
                        $("[name='sex'][value= "+data.userEnder +"]").prop("checked", "checked");

                    }
                })
            })

            // 添加
            $("#addUser").click(function(){
                $("table").css("display","none");
                $("form").css("display","none");
                $(".addAUser").show();
            })
            $("#user-add").click(function () {
                if( $("#userName-add").val().trim()==""|| $("#userAccount-add").val().trim()=="" || $("#userPhone-add").val().trim()=="" || $("#userAddress-add").val().trim()=="" || $("#userQq-add").val().trim()=="" || $("#userEmail-add").val().trim()=="" || $("#password-add").val().trim()==""){
                    alert("请完善信息");
                    return;
                }
                var data = "userName="+ $("#userName-add").val()+"&userAccount="+$("#userAccount-add").val()+"&userPhone="+$("#userPhone-add").val()
                                      +"&userPassword="+$("#password-add").val()+"&userAddress="+$("#userAddress-add").val()+"&userQq="+ $("#userQq-add").val()+"&userEmail="+ $("#userEmail-add").val()+"&userType="+$("#selectType-add").val()+"&userEnder="+$("input[name='userEnder-add']:checked").val();
                $.ajax({
                    url : "user/addUser?"+data,
                    success: function(data){
                        alert(data);
                        window.location.reload();
                    }
                })
            })
		});


	</script>
</head>
<body>
<div class="container" id="main">

    <div class="row">
        <div class="col-lg-12">
            <h4>电子竞技俱乐部粉丝管理信息系统</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            <nav id="zlight-nav">
                <ul id="zlight-main-nav">
                    <li class="zlight-dropdown"><a href="/mainPage">Home</a></li>
                    <li class="zlight-active">
                        <a href="/userPage">用户列表</a>
                        <ul class="zlight-submenu">
                            <!--<li><a href="#">添加用户</a></li>-->
                            <!--<li><a href="#">删除用户</a></li>-->
                            <!--<li><a href="#">Link 3</a></li>-->
                        </ul>
                    </li>
                    <li class="zlight-dropdown">
                        <a href="/clubPage">俱乐部管理</a>
                        <ul class="zlight-submenu">
                            <!--<li><a href="#">Link 1</a></li>-->
                            <!--<li><a href="#">Link 2</a></li>-->
                            <!--<li><a href="#">Link 3</a></li>-->
                            <!--<li><a href="#">Link 5</a></li>-->
                        </ul>
                    </li>
                    <li><a href="/activePage">粉丝活动管理</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="login">退出登录</a></li>
                </ul>
                <!-- MOBILE NAV -->
                <div id="zlight-mobile-nav">
                    <span>Menu</span>
                    <i class="icon-reorder zlight-icon"></i>
                    <select></select>
                </div>
            </nav> <!-- nav close -->

        </div>
    </div>

    <div class="row"></div>

    <div class="row">
        <div class="col-lg-12">
            <h4 class="zlight-hhh">用户信息</h4>
        </div>
    </div>

    <div class="row" style="margin-bottom:900px;">
        <div class="col-lg-12">
            <p>User Information</p>
            <p><button id="addUser" class="btn btn-default">添加用户</button></p>
            <p><h4 style="margin-top:30px;">Features:</h4>
            <ul>
                <table class="table table-striped">
                    <tr><td>编号</td><td>姓名</td><td>账户</td><td>手机号</td><td>性别</td><td>地址</td><td>QQ号码</td><td>Email</td><td>用户身份</td><td>操作</td></tr>
                </table>
            </ul>
        </div>
        <!--更改用户表单 -->
        <form class="form-horizontal" style="display:none" onsubmit="return checkForm();" id="updateUser" action="user/editUser">
            <input type="text" name="id" id="userId" style="display: none;">
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-10">
                    <input type="text"  name="userName" class="form-control" id="userName" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">账号</label>
                <div class="col-sm-10">
                    <input type="text" name="userAccount" class="form-control" id="userAccount" placeholder="Account">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                    <input type="password" readonly="readonly" class="form-control" id="password" placeholder="*********">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">手机号码</label>
                <div class="col-sm-10">
                    <input type="text" name="userPhone" class="form-control" id="userPhone" placeholder="Phone">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">地址</label>
                <div class="col-sm-10">
                    <input type="text" name="userAddress" class="form-control" id="userAddress" placeholder="Address">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">QQ</label>
                <div class="col-sm-10">
                    <input type="text" name="userQq" class="form-control" id="userQq" placeholder="QQ">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" name="userEmail" class="form-control" id="userEmail" placeholder="Email">
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">身份</label>
                <div class="col-sm-10">
                    <select id ="selectType" class="form-control" name="userType" disabled="disabled">
                        <option value="1">管理员</option>
                        <option value="2">粉丝</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input class="sex" name = "userEnder" value ="1" type="radio">男
                            <input class="sex" name = "userEnder"  value ="2" type="radio">女
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" id = "update" class="btn btn-default">确定</button>
                    <button onclick="location.reload()"  class="btn btn-default">取消</button>
                </div>
            </div>
        </form>
        <!-- 添加用户 -->
        <div  id="addAUser" class="addAUser" style="display: none;">
            <input type="text" name="id" id="userId-add" style="display: none;">
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-10">
                    <input type="text"  name="userName" class="form-control" id="userName-add" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">账号</label>
                <div class="col-sm-10">
                    <input type="text" name="userAccount" class="form-control" id="userAccount-add" placeholder="Account">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password-add" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">手机号码</label>
                <div class="col-sm-10">
                    <input type="text" name="userPhone" class="form-control" id="userPhone-add" placeholder="Phone">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">地址</label>
                <div class="col-sm-10">
                    <input type="text" name="userAddress" class="form-control" id="userAddress-add" placeholder="Address">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">QQ</label>
                <div class="col-sm-10">
                    <input type="text" name="userQq" class="form-control" id="userQq-add" placeholder="QQ">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" name="userEmail" class="form-control" id="userEmail-add" placeholder="Email">
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">身份</label>
                <div class="col-sm-10">
                    <select id ="selectType-add" class="form-control" name="userType-add">
                        <option value="1">管理员</option>
                        <option value="2">粉丝</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input class="sex" name = "userEnder-add" value ="1" type="radio">男
                            <input class="sex" name = "userEnder-add"  value ="2" type="radio">女
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button id = "user-add" class="btn btn-default">确定</button>
                    <button onclick="location.reload()"  class="btn btn-default">取消</button>
                </div>
            </div>
        </div>
        </div>

    </div>



</div> <!-- main close -->

</div> <!-- container close -->
<script src="js/bootstrap.min.js"></script>
<script src="js/respond.min.js"></script>
<script src="js/jquery.form.js"></script>
<script>
    //提交修改
    function checkForm(){
        if( $("#userName").val().trim()==""|| $("#userAccount").val().trim()=="" || $("#userPhone").val().trim()=="" || $("#userAddress").val().trim()=="" || $("#userQq").val().trim()=="" || $("#userEmail").val().trim()==""){
            alert("请完善信息");
            return false;
        }
        $("#updateUser").ajaxSubmit(function(message) {
            // 对于表单提交成功后处理，message为表单正常提交后返回的内容
            alert(message);
            window.location.reload();
        });
        return false;
    }


</script>

</body>
</html>