<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fans.club.member.management.member.dao.ClubUserMapper" >

    <resultMap id="BaseResultMap" type="fans.club.member.management.member.entity.ClubUser" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="user_account" property="userAccount" jdbcType="VARCHAR" />
        <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
        <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="user_ender" property="userEnder" jdbcType="INTEGER" />
        <result column="user_address" property="userAddress" jdbcType="VARCHAR" />
        <result column="user_qq" property="userQq" jdbcType="VARCHAR" />
        <result column="user_email" property="userEmail" jdbcType="VARCHAR" />
        <result column="user_type" property="userType" javaType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List" >
        id, user_name, user_account, user_password, user_phone, status, user_ender, user_address, 
        user_qq, user_email,user_type
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from club_user
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from club_user
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="fans.club.member.management.member.entity.ClubUser" >
        insert into club_user (id, user_name, user_account, 
            user_password, user_phone, status, 
            user_ender, user_address, user_qq, 
            user_email)
        values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userAccount,jdbcType=VARCHAR}, 
            #{userPassword,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
            #{userEnder,jdbcType=INTEGER}, #{userAddress,jdbcType=VARCHAR}, #{userQq,jdbcType=VARCHAR}, 
            #{userEmail,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="fans.club.member.management.member.entity.ClubUser" >
        insert into club_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="userName != null" >
                user_name,
            </if>
            <if test="userAccount != null" >
                user_account,
            </if>
            <if test="userPassword != null" >
                user_password,
            </if>
            <if test="userPhone != null" >
                user_phone,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="userEnder != null" >
                user_ender,
            </if>
            <if test="userAddress != null" >
                user_address,
            </if>
            <if test="userQq != null" >
                user_qq,
            </if>
            <if test="userEmail != null" >
                user_email,
            </if>
            <if test="userType != null" >
                user_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userName != null" >
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userAccount != null" >
                #{userAccount,jdbcType=VARCHAR},
            </if>
            <if test="userPassword != null" >
                #{userPassword,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null" >
                #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
            <if test="userEnder != null" >
                #{userEnder,jdbcType=INTEGER},
            </if>
            <if test="userAddress != null" >
                #{userAddress,jdbcType=VARCHAR},
            </if>
            <if test="userQq != null" >
                #{userQq,jdbcType=VARCHAR},
            </if>
            <if test="userEmail != null" >
                #{userEmail,jdbcType=VARCHAR},
            </if>
            <if test="userType != null" >
                #{userType,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="fans.club.member.management.member.entity.ClubUser" >
        update club_user
        <set >
            <if test="userName != null" >
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userAccount != null" >
                user_account = #{userAccount,jdbcType=VARCHAR},
            </if>
            <if test="userPassword != null" >
                user_password = #{userPassword,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null" >
                user_phone = #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="userEnder != null" >
                user_ender = #{userEnder,jdbcType=INTEGER},
            </if>
            <if test="userAddress != null" >
                user_address = #{userAddress,jdbcType=VARCHAR},
            </if>
            <if test="userQq != null" >
                user_qq = #{userQq,jdbcType=VARCHAR},
            </if>
            <if test="userEmail != null" >
                user_email = #{userEmail,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="fans.club.member.management.member.entity.ClubUser" >
        update club_user
        set user_name = #{userName,jdbcType=VARCHAR},
            user_account = #{userAccount,jdbcType=VARCHAR},
            user_password = #{userPassword,jdbcType=VARCHAR},
            user_phone = #{userPhone,jdbcType=VARCHAR},
            status = #{status,jdbcType=INTEGER},
            user_ender = #{userEnder,jdbcType=INTEGER},
            user_address = #{userAddress,jdbcType=VARCHAR},
            user_qq = #{userQq,jdbcType=VARCHAR},
            user_email = #{userEmail,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectAllUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from club_user
    </select>

    <select id="selectByName" resultMap="BaseResultMap">
        select * from club_user where user_name = #{name}
    </select>

    <insert id="insertUserAct" parameterType="fans.club.member.management.member.entity.UserAct">
        insert into user_act (user_id,act_id) values (#{userId},#{actId})
    </insert>

    <select id="selectByAccount" resultMap="BaseResultMap">
        select * from club_user where user_account = #{account}
    </select>
</mapper>